<main class="pj-container">
    <form action="/reset-password/store" method="post" class="default-form">
        <input type="hidden" name="_csrf"  value="{{_csrfToken}}">
        <input type="hidden" name="token" value="{{token}}">
        <div class="label">
            <label for="password">New Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="label">
            <label for="repeat_password">Repeat New Password</label>
            <input type="password" name="repeat_password" id="repeat_password" required>
        </div>
        <div class="label horizontal-center">
            <input type="submit" value="Update Password" class="btn btn-blue">
        </div>
    </form>
</main>