<main class="pj-container">
    <form action="/forgot-password/store" method="post" class="default-form">
        <input type="hidden" name="_csrf"  value="{{_csrfToken}}">
        <div class="label">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="label horizontal-center">
            <input type="submit" value="Reset Password" class="btn btn-blue">
        </div>
        <div class="label horizontal-center">
            <a class="horizontal-center" href="/login/create">Login</a>
        </div>
    </form>
</main>