<main class="pj-container">
    <form action="/login/store" method="post" class="default-form">
        <input type="hidden" name="_csrf"  value="{{_csrfToken}}">
        <div class="label">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="label">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="label horizontal-center">
            <input type="submit" value="Login" class="btn btn-blue">
        </div>
        <div class="label horizontal-center">
            <a class="horizontal-center" href="/account/create-profile">Sign Up</a>
        </div>
        <div class="label horizontal-center">
            <a class="horizontal-center" href="/forgot-password/create">Forgot password?</a>
        </div>
    </form>
</main>