<main class="pj-container">
    <form action="/user/store" method="post" class="default-form">
        <div class="label">
            <label>Name</label>
            <input type="text" name="name">
        </div>
        <div class="label">
            <label>E-mail</label>
            <input type="email" name="email">
        </div>
        <div class="label">
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <div class="label">
            <label>Repeat Password</label>
            <input type="password" name="repeat_password">
        </div>
        <div class="label horizontal-center">
            <input type="submit" value="Create account" class="btn btn-blue">
        </div>
        <div class="label horizontal-center">
            <a class="horizontal-center" href="/login/create">Login</a>
        </div>
    </form>
</main>